@@ layout
!!! 1.1
%html
  %head
    %title TinyClone
    %link{:rel => 'stylesheet', :href => 'http://www.blueprintcss.org/blueprint/screen.css', :type => 'text/css'}
    %link{:rel => 'shortcut icon', :href => '/x-favicon.png', :type => 'image/x-icon'}
  %body
    .container
      %p
      = yield